<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alex_aladdin.snowball">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alex_aladdin.com"
                    android:pathPrefix="/snowball"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReportActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>